# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app

*.idea*

/CMakeLists.txt
/PA1/udp/client
/PA1/udp/echoecho.c
/PA1/udp/server
/PA2/MattPennington_CSCI5273_PA2.tar.gz
/PA2/MattPennington_CSCI5273_PA2/
/PA2/client
/PA2/tcp_client.cpp
/PA2/webServer
/PA2/www/files/welcome.html
DFS1/
DFS2/
DFS3/
DFS4/
PA3.tar.gz
client.log
dfc
dfs
server1.log
server2.log
server3.log
server4.log
test
test.cpp
test.jpg
/PA4/webproxy
/cmake-build-debug/

